# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Environments
venv/
.env

# Test caches
.pytest_cache/

# App artifacts
vector_db/
extracted_texts/
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
